import 'bootstrap/scss/bootstrap.scss';

<h1>Hello there, ${input.params.name}</h1>
<main-menu/>
<details>
    <summary>Hello <strong>World</strong></summary>
    This is some <em>content</em> that can be toggled.
  </details>
<app-footer/>